.mainCtn {
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --background-image: url('../../../resources/images/travel-background.jpg');
    --background-size: cover;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 0;
    width: 100%;
}

.logo {
    color: lightgreen;
    font-size: 40px;
}

.title {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
}

.title>h4 {
    font-family: Poppins;
    color: yellowgreen;
}

.navbar>h3 {
    background-color: #28a745;
    border-radius: 5px;
    color: gainsboro;
    padding: 0.5rem;
    cursor: pointer;
    margin: 3px;
    font-size: 1.2rem;
    font-family: Poppins;
    letter-spacing: 0.2rem;
    border-radius: 12px;
    width: 150px;
    text-align: center;
}